.main {
  width : 100%;
  text-align : center;
  margin : 0 auto;
  position: absolute; 
  top: 40%;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; /* 내부 컨테이너의 내용을 가로로 가운데 정렬 */
  margin-top: 20px; /* 위쪽 여백 추가 */
}
.button-container {
  display: flex; /* 추가된 부분 */
  justify-content: center; /* 추가된 부분 */
  margin-top: 20px; /* 추가된 부분 */
}
.button1,
.button2 {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
}





.main label {
  display: inline-block;
  width: 100px; /* 레이블 너비를 조정해주세요 */
  text-align: right;
  margin-right: 10px; /* 레이블과 입력 요소 사이의 간격을 조정해주세요 */
}

.main input {
  display: inline-block;
  width: 200px; /* 입력 요소 너비를 조정해주세요 */
}